In [8]:
import pandas as pd
import os
df=pd.read_csv('../csv/nyc_all_parks_special_event.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18802 entries, 0 to 18801
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   unit                11763 non-null  object
 1   group_name_partner  7518 non-null   object
 2   date_and_time       18802 non-null  object
 3   borough             18802 non-null  object
 4   locationtype        18133 non-null  object
 5   location            18802 non-null  object
 6   event_name          18602 non-null  object
 7   event_type          11763 non-null  object
 8   category            18778 non-null  object
 9   attendance          18656 non-null  float64
 10  audience            11763 non-null  object
 11  source              18802 non-null  object
 12  classification      15679 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.9+ MB

In [11]:
df.columns

Index(['unit', 'group_name_partner', 'date_and_time', 'borough',
       'locationtype', 'location', 'event_name', 'event_type', 'category',
       'attendance', 'audience', 'source', 'classification'],
      dtype='object')

In [12]:
df.head()

,unit,group_name_partner,date_and_time,borough,locationtype,location,event_name,event_type,category,attendance,audience,source,classification
0,Urban Park Rangers,Urban Park Rangers,2019-10-12T11:00:00.000,Queens,Adventure Course,Alley Pond Adventure Course,PEP Family and Friends,Agency Produced Event,Nature,75.0,Children;#Young Adult;#Adults;#Teens;#Tot,Sharepoint,NaN
1,Urban Park Rangers,Greenbelt Conservancy,2019-11-20T18:00:00.000,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Local Event,Nature,30.0,General Public,Sharepoint,NaN
2,Urban Park Rangers,Greenbelt Nature Center,2019-12-19T18:00:00.000,Staten Island,Nature Center,Greenbelt Nature Center,Family science night,Community Based Event,Academic/Out of School time,9.0,Children;#Adults;#Teens,Sharepoint,NaN
3,Urban Park Rangers,Greenbelt,2020-01-15T18:00:00.000,Staten Island,Nature Center,Greenbelt Nature Center,Family Science Night,Agency Produced Event,Academic/Out of School time,30.0,Children;#Adults;#Teens,Sharepoint,NaN
4,Urban Park Rangers,Greenbelt Nature Center,2020-01-19T11:00:00.000,Staten Island,Nature Center,Greenbelt Nature Center,Winter Wilderness Skills,Local Event,Nature,62.0,Children;#Young Adult;#Adults;#Teens,Sharepoint,NaN

In [13]:
df.nunique()

unit                      6
group_name_partner     1162
date_and_time         10688
borough                   5
locationtype              8
location               1112
event_name             5240
event_type                5
category                 13
attendance              541
audience                721
source                    2
classification           35
dtype: int64

In [15]:
df['unit'].unique()

array(['Urban Park Rangers', 'Recreation', 'Public Programs',
       'Media Education', 'Wildlife Unit', 'Aquatics', nan], dtype=object)

In [16]:
df['group_name_partner'].unique()

array(['Urban Park Rangers', 'Greenbelt Conservancy',
       'Greenbelt Nature Center', ..., 'CUNY City College of New York',
       'Saturday Science: BioBus (Columbia University)',
       'Frederick Douglass Academy VI High School'], dtype=object)

In [17]:
df['locationtype'].unique()

array(['Adventure Course', 'Nature Center', 'Park', 'Other', 'Playground',
       'School', 'Pool', 'Recreation Center', nan], dtype=object)

In [21]:
df['date_and_time'] = pd.to_datetime(df['date_and_time'])

In [ ]:
df['date'] = df['date_and_time'].dt.date
df['time'] = df['date_and_time'].dt.time

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18802 entries, 0 to 18801
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   unit                11763 non-null  object
 1   group_name_partner  7518 non-null   object
 2   date_and_time       18802 non-null  datetime64[ns]
 3   borough             18802 non-null  object
 4   locationtype        18133 non-null  object
 5   location            18802 non-null  object
 6   event_name          18602 non-null  object
 7   event_type          11763 non-null  object
 8   category            18778 non-null  object
 9   attendance          18656 non-null  float64
 10  audience            11763 non-null  object
 11  source              18802 non-null  object
 12  classification      15679 non-null  object
 13  date                18802 non-null  object
 14  time                18802 non-null  object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 2.2+ MB